<header>
	<div id="logo">
		<h1>News X <span id="iisrt"><span id="ii">II</span>  <span id="srt">SRT</span></span></h1>
			<div id="tagline">
				<h2>One Stop for All News !</h2>
			</div>
	</div>
	<nav>
		<ul>
			<li><a href="/" id="homenav">Home</a></li>
			<li><a href="#" id="blognav">Blog</a></li>
			<li><a href="#">Contact</a></li>
			<li><a href="#">About</a></li>
			<li class="dropdown">
        		<a href="#" class="dropbtn">Category</a>
        		<div class="dropdown-content">
        			<a href="/indian">Indian News</a>
          			<a href="/news">Global News</a>
          			<a href="/tech">Technology</a>
          			<a href="/nature">Science and Nature</a>
        		</div>
      		</li>
		</ul>
	</nav>
</header>